# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
media/

# Front (Deno/Vite) — presente en la rama eva3
node_modules/
dist/

# Entorno
.env
.env.local

# Editores / SO
.DS_Store
.idea/
.vscode/
